html,
body {
  margin: 0;
  user-select: none;
}
.btn-group {
  display: flex;
  justify-content: center;
}
.btn {
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #42b983;
  &.disable {
    opacity: 0.5;
  }
}
.primary {
  background: #42b983;
  color: #fff;
}
.cancel {
  background: #fff;
  color: #42b983;
}
